# DATABASE (Prisma - PostgreSQL)
DATABASE_URL="postgresql://user:password@host:port/db"

# JWT TOKEN CONFIGURATION
JWT_SECRET=your_secret

# MESSAGE QUEUE (RabbitMQ)
RABBITMQ_URL=amqp://localhost:5672
